@import 'tailwindcss';

@theme {
  --color-primary: #1e3a8a;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #172554;
  --color-secondary: #9333ea;
  --color-surface: #f3f4f6;

  --font-sans: 'Inter', sans-serif;
}

// Reset e Configurações Globais
html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--color-surface);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
